<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="content_button" th:fragment="page">
		<span th:if="${page}  &gt; 1"><a class="next_page" th:href="@{/background/querybyBackList(pid=${pid},id=${id},page=${page}-1)}">上一页</a></span>
		<label>当前第<span th:text="${page}"></span>页 共<span th:text="${totalpage}"></span>页</label>
		<span th:if="${totalpage} &gt; ${page}"><a class="next_page" th:href="@{/background/querybyBackList(pid=${pid},id=${id},page=${page}+1)}">下一页</a></span>
		<!-- <input type="button" class="next_page" value="下一页"> -->
		<input type="text" class="page_num">
		<input type="button" class="jump_page" value="跳转">
	</div>
</body>
</html>







