<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>电子科技大学图形图像与信号应用处理研究室</title>
	<meta http-equiv="keywords" content="电子科技大学图形图像与信号处理应用研究室" />
	<meta http-equiv="description" content="电子科技大学图形图像与信号处理应用研究室" />
	<link rel="icon" href="/img/logo.ico" type="image/x-icon"/>
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<script type="text/javascript" src="/js/jquery-3.0.0.min.js"></script>
</head>


<body>
	<header th:replace="fragments/header :: header"></header>
	<section class="main">
		<div class="logo"><a href="/index"><img src="/img/webLogo.png"></a></div>
		<nav th:replace="fragments/nav :: nav"></nav>
		<section class="slideshow">
			<ul>
				<span class="arrow_left"></span>
				<li><img src="/img/show_10.jpg" alt=""></li>
				<li><img src="/img/show_20.jpg" alt=""></li>
				<li><img src="/img/show_30.jpg" alt=""></li>
				<li><img src="/img/show_40.jpg" alt=""></li>
				<li><img src="/img/show_50.jpg" alt=""></li>
				<span class="arrow_right"></span>
			</ul>
		</section>
		<section class="main_content">
			<div class="left_content">
				<div class="for_one">
					<h3>团队负责人</h3>
					<section class="master_content">
						<a href=""><img src="/img/pengzhenming.jpg">
						<span>彭真明教授</span></a>
						<!-- <span><strong>邮箱：</strong>zmpeng@uestc.edu.cn</span> -->
						<span><strong>个人简介：</strong>彭真明(1966-)，博士，教授，博士生导师，湖南保靖人。</span>
					</section>
				</div>
				<div class="for_two">
					<h3>科研成果</h3>
					<span class="more"><a href="/querybycategory?id=2&pid=3&page=1">更多&gt;&gt;</a></span>
					<ul class="list_block">
						<li th:each="list : ${response1}" ><a th:href="@{/queryNews(htmlid=${list.htmlid})}" target="_blank" th:text="${list.title}"></a><span th:text="${list.date}"></span>
						</li>
					</ul>
				</div>
			</div>
			<div class="center_content">
				<div class="for_one">
					<h3>通知公告</h3>
					<span class="more"><a href="/querybycategory?id=1&pid=2&page=1">更多&gt;&gt;</a></span>
					<ul class="list_block">
						<li th:each="list : ${response2}" ><a th:href="@{/queryNews(htmlid=${list.htmlid})}" target="_blank" th:text="${list.title}"></a><span th:text="${list.date}"></span>
						</li>
					</ul>
				</div>
				<div class="for_two">
					<h3>热点新闻</h3>
					<span class="more"><a href="/querybycategory?id=2&pid=2&page=1">更多&gt;&gt;</a></span>
					<ul class="list_block">
						<li th:each="list : ${response3}" ><a th:href="@{/queryNews(htmlid=${list.htmlid})}" target="_blank" th:text="${list.title}"></a><span th:text="${list.date}"></span>
						</li>
					</ul>
				</div>
			</div>
			<div class="right_content">
				<div class="right_cooperation">
					<h3><a href="/querybycategory?id=1&pid=6&page=1">合作交流</a></h3>
					<ul class="cooperation_list">
						<li th:each="list : ${response4}" ><a th:href="@{/queryNews(htmlid=${list.htmlid})}" target="_blank" th:text="${list.title}"></a><span th:text="${list.date}"></span>
						</li>
					</ul>
				</div>
				<div class="right_links">
					<h3>友情链接</h3>
					<ul class="links_list">
						<li><a href="http://blog.sciencenet.cn/u/zmpenguestc">科学网-老马迷图</a></li>
						<li><a href="http://www.soei.uestc.edu.cn/index.php">光电信息学院</a></li>
						<li><a href="http://yz.uestc.edu.cn/">研招网-招生信息</a></li>
						<li><a href="http://www.nsfc.gov.cn/">国家自然科学基金委员会</a></li>
					</ul>
				</div> 
				<div>
					<h3><a href="/ftp/public/queryFile?page=1">资料下载</a></h3>
				</div>
			</div>
		</section>
	</section>
	<footer th:replace="fragments/footer :: footer"></footer>
	<script type="text/javascript" src="/js/index.js"></script>
</body>
</html>