<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
</head>
<link rel="stylesheet" type="text/css" href="/css/news.css">
<script type="text/javascript" src="/js/news.js"></script>
<body>
	<header th:replace="fragments/header :: header"></header>
	<section class="main">
		<div class="logo"><a href="/index"><img src="/img/webLogo.png"></a></div>
		<nav th:replace="fragments/nav :: nav"></nav>
		<!--新闻页面-->
		<section class="main_content">
			<div class="content_nav">
				<span id="nav_pid" hidden th:text="${response.pid}">2</span>
				<span id="nav_id" hidden th:text="${response.id}">1</span>
			</div>

			<div class="content_right">
				<div class="content_head">通知公告</div>
				<div class="content_passage">
					<span class="passage_title" th:text="${response.title}">【开题报告会】关于实验室博士学位论文公开开题的通知</span>
					<div class="passage_info">
						作者：<span th:text="${response.publisher}"></span>
						来源：<span th:text="${response.type}"></span>
						发布时间：<span th:text="${response.date}"></span>
						点击：<span th:text="${response.count}"></span>
					</div>
					<div class="passage_text" th:utext="${response.content}">
						
					</div>
				</div>
			</div>
		</section>
		
	</section>
	<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>