<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
</head>
<link rel="stylesheet" type="text/css" href="/css/news.css">
<script type="text/javascript" src="/js/news.js"></script>
<body>
	<header th:replace="fragments/header :: header"></header>
	<section class="main">
		<div class="logo"><a href="/index"><img src="/img/webLogo.png"></a></div>
		<nav th:replace="fragments/nav :: nav"></nav>
		<!--新闻列表-->
		<section class="main_content">
			<div class="content_nav">
				<span id="nav_pid" hidden th:text="${pid}">2</span>
				<span id="nav_id" hidden th:text="${id}">1</span>
				<!-- <div class="nav_head">新闻公告</div>
				<ul class="nav_ul">
					<li class="nav_li"><a href="main/querybycategory?id=1&pid=2&page=1">通知公告</a></li>
					<li class="nav_li"><a href="main/querybycategory?id=2&pid=2&page=1">教学简报</a></li>
					<li class="nav_li"><a href="main/querybycategory?id=3&pid=2&page=1">科研快讯</a></li>
					<li class="nav_li"><a href="main/querybycategory?id=4&pid=2&page=1">桃李春风</a></li>
					<li class="nav_li"><a href="main/querybycategory?id=5&pid=2&page=1">学子风采</a></li>
				</ul> -->
			</div>

			<div class="content_right">
				<div class="content_head">通知公告</div>
				<div class="content_list">
					<ul>
						<li th:each="list : ${response}" ><a th:href="@{/queryNews(htmlid=${list.htmlid})}" target="_blank" th:text="${list.title}"></a><span th:text="${list.date}"></span>
						</li>
						<!-- <li><a href="news_content.html" target="_blank">【开题报告会】关于实验室博士学位论文公开开题的通知 </a><span>2018-05-21</span></li>
						<li><a href="">【GISPA论坛】第094期</a><span>2018-05-21</span></li>
						<li><a href="">【GISPA论坛】第094期</a><span>2018-05-21</span></li>
						<li><a href="">【GISPA论坛】第094期</a><span>2018-05-21</span></li>
						<li><a href="">【GISPA论坛】第094期</a><span>2018-05-21</span></li>
						<li><a href="">【GISPA论坛】第094期</a><span>2018-05-21</span></li>
						<li><a href="">【GISPA论坛】第094期</a><span>2018-05-21</span></li>
						<li><a href="">【GISPA论坛】第094期</a><span>2018-05-21</span></li>
						<li><a href="">【GISPA论坛】第094期</a><span>2018-05-21</span></li>
						<li><a href="">【GISPA论坛】第094期</a><span>2018-05-21</span></li> -->
					</ul>
				</div>
				
				<div class="content_button">
					<span th:if="${page} &gt; 1"><a class="next_page" th:href="@{/querybycategory(id=${id},pid=${pid},page=${page}-1)}">上一页</a></span>
					<label>当前第<span th:text="${page}"></span>页 共<span th:text="${totalpage}"></span>页</label>
					<span th:if="${totalpage} &gt; ${page}"><a class="next_page" th:href="@{/querybycategory(id=${id},pid=${pid},page=${page}+1)}">下一页</a></span>
					<!-- <input type="button" class="next_page" value="下一页"> -->
					<input type="text" class="page_num">
					<input type="button" class="jump_page" value="跳转">
				</div>
			</div>
		</section>
		
	</section>
	<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>