<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
</head>
<body>
	<div class="panel panel-default panel-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="container-fluid">
								<h3>添加用户</h3>
								<form action="#" th:action="@{/user/addUser}" th:object="${userDto}" method="post">
									<div class="row form-group">
										<div class="col-xs-6">
											<input type="text" th:field="*{userName}" class="form-control" placeholder="用户名" autofocus="autofocus"/>
										</div>
										<div class="col-xs-6">
											<span class="label label-warning" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Username Error</span>
										</div>
									</div>

									
	                                <div class="row form-group">
                                        <div class="col-xs-6">
                                             <input th:field="*{password}" type="password" class="form-control" placeholder="密码"/>
                                        </div>
                                        <div class="col-xs-6">
                                            <span class="label label-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span>
                                        </div>
                                    </div>

									<div class="row form-group">
										<div class="col-xs-6">
											<input th:field="*{roles}" type="text" class="form-control" placeholder="权限"/>
										</div>
										<div class="col-xs-6">
											<span class="label label-warning" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}">roles Error</span>
										</div>
									</div>

	                                
									<div class="row form-group">
										<div class="col-xs-6">
											<input class="btn btn-success" type="submit" value="注册" />
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>