<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
</head>
<link rel="stylesheet" type="text/css" href="/css/news.css">
<script type="text/javascript" src="/js/news.js"></script>
<body>
	<header th:replace="fragments/header :: header"></header>
	<section class="main">
		<div class="logo"><img src="/img/webLogo.png"></div>
		<nav th:replace="fragments/nav :: nav"></nav>
		<!--新闻列表-->
		<section class="main_content">
			<div class="content_nav">
				<span id="nav_pid" hidden th:text="${pid}">2</span>
				<span id="nav_id" hidden th:text="${id}">1</span>
			</div>

			<div class="content_right">
				<div class="content_head"><span class="head_title">通知公告</span><span id="add">添加</span></div>
				<div class="content_list">
					<ul>
						<!-- <li th:each="list : ${response}" ><a th:href="@{/main/queryNews(htmlid=${list.htmlid})}" target="_blank" th:text="${list.title}"></a><span th:text="${list.date}"></span>
						</li> -->
						<li th:each="list : ${response}"><span class="edit"></span><a class="delete" th:href="@{/background/deleteNews(pid=${pid},id=${id},page=${page},htmlid=${list.htmlid})}"></a><a th:text="${list.title}"></a><span  th:text="${list.date}"></span></li>
						<!-- <li><span class="edit"></span><a class="delete" href=""></a><a href="news_content.html" target="_blank">【开题报告会】关于实验室博士学位论文公开开题的通知 </a><span>2018-05-21</span></li>
						<li><span class="edit"></span><a class="delete" href=""></a><a href="">【GISPA论坛】第094期</a><span>2018-05-21</span></li>
						<li><span class="edit"></span><a class="delete" href=""></a><a href="">【GISPA论坛】第094期</a><span>2018-05-21</span></li>
						<li><span class="edit"></span><a class="delete" href=""></a><a href="">【GISPA论坛】第094期</a><span>2018-05-21</span></li>
						<li><span class="edit"></span><a class="delete" href=""></a><a href="">【GISPA论坛】第094期</a><span>2018-05-21</span></li>
						<li><span class="edit"></span><a class="delete" href=""></a><a href="">【GISPA论坛】第094期</a><span>2018-05-21</span></li>
						<li><span class="edit"></span><a class="delete" href=""></a><a href="">【GISPA论坛】第094期</a><span>2018-05-21</span></li>
						<li><span class="edit"></span><a class="delete" href=""></a><a href="">【GISPA论坛】第094期</a><span>2018-05-21</span></li>
						<li><span class="edit"></span><a class="delete" href=""></a><a href="">【GISPA论坛】第094期</a><span>2018-05-21</span></li>
						<li><span class="edit"></span><a class="delete" href=""></a><a href="">【GISPA论坛】第094期</a><span>2018-05-21</span></li> -->
					</ul>
				</div>
				
				<div class="content_button" th:replace="fragments/page :: page">
				</div>
			</div>
		</section>
		
	</section>
	<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>