<!DOCTYPE html>
<!-- <html lang="en"> -->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>电子科技大学成像探测与智能感知实验室</title>
	<meta http-equiv="keywords" content="电子科技大学成像探测与智能感知实验室" />
	<meta http-equiv="description" content="电子科技大学成像探测与智能感知实验室" />
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<link rel="icon" href="/img/logo.ico" type="image/x-icon"/>
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="stylesheet" type="text/css" href="/css/file.css">
	<script type="text/javascript" src="/js/jquery-3.0.0.min.js"></script>
	<script type="text/javascript" src="/js/file.js"></script>
</head>
<body>
	<header th:replace="manage_fragments/header :: header"></header>
	<section class="main">
		<div class="logo"><img src="/img/webLogo.png"></div>
		<nav th:replace="manage_fragments/nav :: nav"></nav>
		<!--下载列表-->
		<section class="main_content">

			<div class="content_nav">
				<div class="nav_head">资料下载</div>
				<div class="nav_splitLine"></div>
				<ul class="nav_ul">
					<li class="nav_li"><a href="/ftp/public/queryBackgroundPublicFile?page=1">公有资料</a></li>
					<li class="nav_li active"><a href="/user/selectUser?page=1">用户管理</a></li>
				</ul>
			</div>

			<div class="content_right">
				<div class="content_head" id="user_head">
					<span>用户管理</span>
					<input type="button" name="upload" value="添加" class="add_user">
				</div>
				<div class="content_list" id="user_list">
					<table>
						<tr>
							<th>用户名</th>
							<th>角色</th>
							<th colspan="3">描述</th>
							<th></th>
						</tr>
						<tr th:each='list : ${response}'>
							<td th:text='${list.userName}' class="uname"></td>
							<td th:text='${list.roles}'></td>
							<td colspan="3"><span th:text='${list.description}'></span></td>
							<td><a th:href="@{/user/deleteUser(uid=${list.id},page=${page})}" class="delete" th:if="${list.userName != 'admin'}"></a></td>
						</tr>
					</table>
				</div>

				<div class="content_button" th:if="${totalpage} &gt; 1">
					<span th:if="${page} &gt; 1"><a class="next_page" th:href="@{/user/selectUser(page=${page}-1)}">上一页</a></span>
					<label>当前第<span th:text="${page}"></span>页 共<span th:text="${totalpage}" class="totalpage"></span>页</label>
					<span th:if="${totalpage} &gt; ${page}"><a class="next_page" th:href="@{/user/selectUser(page=${page}+1)}">下一页</a></span>
					<!-- <input type="button" class="next_page" value="下一页"> -->
					<input type="text" class="page_num">
					<input type="button" class="jump_page" value="跳转">
				</div>
			</div>
		</section>

		<div class="show_upload" id="user">
			<div class="upload_head">添加用户
				<img src="/img/close.png">
			</div>
			<form action="/user/addUser" method="post" enctype="multipart/form-data">
				<span class="file_style">
					<span class="left_btn">用户名：</span>
					<input type="text" name="userName">
					<span class="not_null">*</span>
				</span>
				<span class="file_style">
					<span class="left_btn">密码：</span>
					<input type="password" name="password" class="pwd_1">
					<span class="not_null">*</span>
				</span>
				<span class="file_style">
					<span class="left_btn">再次输入密码：</span>
					<input type="password" class="pwd_2">
					<span class="not_null">*</span>
				</span>
				<span class="file_style">
					<span class="left_btn">角色：</span>
					<input type="radio" name="roles" value="USER" checked><label>用户</label>
					<input type="radio" name="roles" value="USER,ADMIN"><label>管理员</label>
					<span class="not_null">*</span>
				</span>
				<span class="file_style">
					<span class="left_btn">描述：</span>
					<input type="text" name="description">
				</span>
				<input type="submit" name="confirm" value="确定">
				<span class="tips_1">该内容不能为空, 请重新输入！</span>
				<span class="tips_2">两次密码不一致，请重新输入！</span>
			</form>
		</div>
	</section>
	<div id="bg"></div>
	<footer th:replace="manage_fragments/footer :: footer"></footer>
	<script type="text/javascript">
		$('.jump_page').click(function(event) {
			var page = parseInt($('input.page_num').val());
        	var totalpage = parseInt($('span.totalpage').text());
			if(page >0 && page <= totalpage){
				$(location).attr('href', '/user/selectUser?page=' + page);
			}else{
            	alert('输入的页面数无效，请重新输入！');
        	 }
		});
	</script>
</body>
</html>