<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- <head th:include="fragments/news_head :: news_head">
</head> -->
<head>
	<meta charset="UTF-8">
	<title>电子科技大学图形图像与信号应用处理研究室</title>
	<meta http-equiv="keywords" content="电子科技大学图形图像与信号处理应用研究室" />
	<meta http-equiv="description" content="电子科技大学图形图像与信号处理应用研究室" />
	<link rel="icon" href="/img/logo.ico" type="/image/x-icon"/>
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<link rel="stylesheet" type="text/css" href="/css/file.css">
	<script type="text/javascript" src="/js/jquery-3.0.0.min.js"></script>
	<script type="text/javascript" src="/js/index.js"></script>
</head>
<body>
	<!-- <header th:replace="fragments/header :: header"></header> -->
	<header>
		<div class="h_main">
			<ul class="header_nav">
				<li><a href="http://www.uestc.edu.cn/">学校主页</a></li>
				<li><a href="">管理登陆</a></li>
			</ul>
			<form class="search_box" action="">
				<input type="text" placeholder="搜索" class="search" name="word" />
				<button class="search_button" type="submit"/></button>
			</form>
		</div>
	</header>
	<section class="main">
		<div class="logo"><img src="/img/webLogo.png"></div>
		<!-- <nav th:replace="fragments/nav :: nav"></nav> -->
		<nav>
			<ul>
				<li class="nav_item"><a href="/main/querybycategory?id=1&pid=1&page=1">实验室简介</a></li><!--
				--><li class="nav_item">
					<a href="/main/querybycategory?id=1&pid=2&page=1">新闻公告</a>
					<ul class="child_nav">
						<li class="child_item"><a href="/main/querybycategory?id=1&pid=2&page=1">通知公告</a></li>
						<li class="child_item"><a href="/main/querybycategory?id=2&pid=2&page=1">教学简报</a></li>
						<li class="child_item"><a href="/main/querybycategory?id=3&pid=2&page=1">科研快讯</a></li>
						<li class="child_item"><a href="/main/querybycategory?id=4&pid=2&page=1">桃李春风</a></li>
						<li class="child_item"><a href="/main/querybycategory?id=5&pid=2&page=1">学子风采</a></li>
					</ul>
				</li><!--
				--><li class="nav_item">
					<a href="/main/querybycategory?id=1&pid=3&page=1">科学研究</a>
					<ul class="child_nav">
						<li class="child_item"><a href="/main/querybycategory?id=1&pid=3&page=1">研究领域</a></li>
						<li class="child_item"><a href="/main/querybycategory?id=2&pid=3&page=1">科研项目</a></li>
						<li class="child_item"><a href="/main/querybycategory?id=3&pid=3&page=1">学术论文</a></li>
						<li class="child_item"><a href="/main/querybycategory?id=4&pid=3&page=1">获奖</a></li>
						<li class="child_item"><a href="/main/querybycategory?id=5&pid=3&page=1">专利</a></li>
					</ul>
				</li><!--
				--><li class="nav_item">
					<a href="/main/querybycategory?id=1&pid=4&page=1">科研团队</a>
					<ul class="child_nav">
						<li class="child_item"><a href="/main/querybycategory?id=1&pid=4&page=1">团队教师</a></li>
						<li class="child_item"><a href="/main/querybycategory?id=2&pid=4&page=1">博士后</a></li>
						<li class="child_item"><a href="/main/querybycategory?id=3&pid=4&page=1">在读博士</a></li>
						<li class="child_item"><a href="/main/querybycategory?id=4&pid=4&page=1">在读硕士</a></li>
						<li class="child_item"><a href="/main/querybycategory?id=5&pid=4&page=1">光电菁英</a></li>
						<li class="child_item"><a href="/main/querybycategory?id=6&pid=4&page=1">毕业学生</a></li>
					</ul>
				</li><!--
				--><li class="nav_item">
					<a href="/main/querybycategory?id=1&pid=5&page=1">人才培养</a>
					<ul class="child_nav">
						<li class="child_item"><a href="/main/querybycategory?id=1&pid=5&page=1">本科教学</a></li>
						<li class="child_item"><a href="/main/querybycategory?id=2&pid=5&page=1">菁英计划</a></li>
						<li class="child_item"><a href="/main/querybycategory?id=3&pid=5&page=1">研究生</a></li>
					</ul>
				</li><!--
				--><li class="nav_item"><a href="/main/querybycategory?id=1&pid=6&page=1">合作交流</a></li><!--
				--><li class="nav_item"><a href="/main/querybycategory?id=1&pid=7&page=1">资料下载</a></li><!--
				--><li class="nav_item"><a href="/main/querybycategory?id=1&pid=8&page=1">留言板</a></li>
			</ul>
		</nav>


		<!--下载列表-->
		<section class="main_content">
			<div class="content_nav">
				<div class="nav_head">资料下载</div>
				<div class="nav_splitLine"></div>
				<ul class="nav_ul">
					<li class="nav_li"><a href="/ftp/public/queryBackgroundPublicFile?page=1">公有资料</a></li>
					<!--<li class="nav_li"><a href="/FtpFileController/private/queryFile?page=1">私有资料</a></li>-->
					<li class="nav_li active"><a href="#">用户管理</a></li>
				</ul>
			</div>

			<div class="content_right">
			<!-- 用户管理 -->
				<div class="content_head" id="user_head">
					<span>用户管理</span>
					<input type="button" name="revise" value="修改密码">
					<input type="button" name="upload" value="添加" class="add_user">
				</div>
				<div class="content_list" id="user_list">
					<table>
						<tr>
							<th>用户名</th>
							<th>角色</th>
							<th colspan="3">描述</th>
							<th></th>
						</tr>
						<tr th:each='list : ${response}'>
							<td th:text='${list.userName}'></td>
							<td th:text='${list.roles}'></td>
							<td colspan="3"><span th:text='${list.description}'></span></td>
							<td><a th:href="@{/user/deleteUser(uid=${list.id})}" class="delete"></a></td>
						</tr>
						<!-- <tr>
							<td>assdffghgjgkeirurbfjvhd</td>
							<td>管理员</td>
							<td colspan="3"><span>【GISPA论坛】第094期【GISPA论坛】第094期【GISPA论坛】第094期</span></td>
							<td><a href="http://baidu.com" class="delete"></a></td>
						</tr> -->
						
					</table>
				</div>

				<div class="content_button">
					<span th:if="${page gt 1}"><a class="next_page" th:href="@{main/querybycategory(id=${id},pid=${pid},page=${page-1})}">上一页</a></span>
					<label>当前第<span th:text="${page}"></span>页 共<span th:text="${totalpage}"></span>页</label>
					<span th:if="${totalpage gt page}"><a class="next_page" th:href="@{main/querybycategory(id=${id},pid=${pid},page=${page+1})}">下一页</a></span>
					<!-- <input type="button" class="next_page" value="下一页"> -->
					<input type="text" class="page_num">
					<input type="button" class="jump_page" value="跳转">
				</div>
			</div>
		</section>

		<div class="show_upload" id="user">
			<div class="upload_head">添加用户
				<img src="/img/close.png">
			</div>
			<form action="/user/addUser" method="post" enctype="multipart/form-data">
					<span class="file_style">
						<span class="left_btn">用户名：</span>
						<input type="text" name="userName">
						<span class="not_null">*</span>
					</span>
					<span class="file_style">
						<span class="left_btn">密码：</span>
						<input type="password" name="password" class="pwd_1">
						<span class="not_null">*</span>
					</span>
					<span class="file_style">
						<span class="left_btn">再次输入密码：</span>
						<input type="password" class="pwd_2">
						<span class="not_null">*</span>
					</span>
					<span class="file_style">
						<span class="left_btn">角色：</span>
						<input type="text" name="role">
						<span class="not_null">*</span>
					</span>
					<span class="file_style">
						<span class="left_btn">描述：</span>
						<input type="text" name="description">
					</span>
					<input type="submit" name="confirm" value="确定">
					<span class="tips_1">该内容不能为空, 请重新输入！</span>
					<span class="tips_2">两次密码不一致，请重新输入！</span>
			</form>
		</div>
		<div class="show_upload" id="re_pwd">
			<div class="upload_head">修改密码
				<img src="/img/close.png">
			</div>
			<form action="/user/modifyPassword" method="post" enctype="multipart/form-data">
				<span class="file_style">
					<span class="left_btn">旧密码：</span>
					<input type="password" name="old_pwd">
					<span class="not_null">*</span>
				</span>
				<span class="file_style">
					<span class="left_btn">新密码：</span>
					<input type="password" name="new_pwd" class="pwd_1">
					<span class="not_null">*</span>
				</span>
				<span class="file_style">
					<span class="left_btn">再次输入密码：</span>
					<input type="password" class="pwd_2">
					<span class="not_null">*</span>
				</span>
				<input type="submit" name="confirm" value="确定">
				<span class="tips_1">该内容不能为空, 请重新输入！</span>
				<span class="tips_2">两次密码不一致，请重新输入！</span>
			</form>
		</div>
	</section>
	<div id="bg"></div>
	<!-- <footer th:replace="fragments/footer :: footer"></footer> -->
	<footer>
		<div class="foot_content">
			<div class="lab_name">图形图像与信号处理应用研究室</div>
			<div class="lab_phone">联系电话：×××-××××××××</div>
			<div class="lab_address">地址：电子科技大学沙河校区逸夫楼</div>
			<p class="studio">技术支持：智行工作室</p>
		</div>
	</footer>
	<script type="text/javascript" src="/js/file.js"></script>
</body>
</html>