.main_content{
	background-color: #fff;
	padding: 20px 40px;
}
.main_content .intro_head{
	height: 30px;
	font-size: 20px;
	line-height: 20px;
	color: #09588a;
	border-bottom: 1px solid #e5e5e5;
	padding-left: 20px;
	margin-bottom: 20px;
}
.main_content .intro_content{
	padding: 0 20px;
	font-size: 15px;
	line-height: 30px;
}
