.main_content{
	background-color: #fff;
}
.main_content .content_right .content_head .add_teammate{
	float: right;
	margin-right: 10px;
	display: inline-block;
	padding: 0 5px;
	line-height: 25px;
	text-align: center;
	font-size: 14px;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #515151;
	cursor: pointer;
	background-color: transparent;
}

.main_content .content_right .content_list .list_head{
	display: block;
	color: #09588a;
	border-left: 5px solid #09588a;
	padding: 10px;
	margin: 20px 0;
	cursor: pointer;
	background-color: rgba(9,88,138,.1);
}
.main_content .content_right .content_list .list_head>img{
	width: 18px;
	float: right;
	margin-top: 2px;
}
.main_content .content_right .content_list .container{
	/*display: flex;
	flex-flow: row wrap;*/
	box-sizing: border-box;
}
.main_content .content_right .content_list .container figure{
	/*margin: 5px 0 10px 0;
	width: 25%;*/
	margin: 5px 0 10px 0;
	width: 24%;
	display: inline-block;
}
.main_content .content_right .content_list .container figure .img_shelter{
	width: 130px;
	height: 170px;
	background-color: rgba(183,183,183,.5);
	position: absolute;
	margin-left: 30px;
}
.main_content .content_right .content_list .container figure .img_shelter a{
	display: inline-block;
	width: 35px;
	height: 35px;
	padding: 0;
	margin-top: 70px;
	cursor: pointer;
}

.main_content .content_right .content_list .container figure .img_shelter .img_edit{
	margin-left: 27px;
	background: url(/img/edit_r.png) center no-repeat;
	background-size: 30px;
}
.main_content .content_right .content_list .container figure .img_shelter .img_delete{
	margin-left: 8px;
	background: url(/img/delete_r.png) center no-repeat;
	background-size: 35px;
}

.main_content .content_right .content_list .container figure img{
	width: 130px;
	height: 170px;
	padding-left: 30px;
	cursor: pointer;
}
.main_content .content_right .content_list .container figure figcaption{
	text-align: center;
	padding-left: 30px;
}



.main_content .content_right .content_list .container figure .img_shelter a:hover{
	animation: shake 0.5s;
	-o-animation: shake 0.5s;
    -webkit-animation: shake 0.5s;
    -moz-animation: shake 0.5s;
}
@keyframes shake {
    0%, 100% {
        -webkit-transform: translateX(0);
    }
    10%,
    50%,
    90% {
        -webkit-transform: translateX(-3px);
    }
    30%,
    70% {
        -webkit-transform: translateX(3px);
    }
}
@-o-keyframes shake {
    /* Opera */
    0%, 100% {
        -webkit-transform: translateX(0);
    }
    10%,
    50%,
    90% {
        -webkit-transform: translateX(-3px);
    }
    30%,
    70% {
        -webkit-transform: translateX(3px);
    }
}
@-webkit-keyframes shake {
    /* Safari 和 Chrome */
    0%, 100% {
        -webkit-transform: translateX(0);
    }
    10%,
    50%,
    90% {
        -webkit-transform: translateX(-3px);
    }
    30%,
    70% {
        -webkit-transform: translateX(3px);
    }
}
@-moz-keyframes shake {
    /* Firefox */
    0%, 100% {
        -moz-transform: translateX(0);
    }
    10%,
    50%,
    90% {
        -webkit-transform: translateX(-3px);
    }
    30%,
    70% {
        -webkit-transform: translateX(3px);
    }
}
